<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admission</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/addemployee">Add</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/viewemployee">View</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/searchemployee">Search</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/deleteemployee">Delete</a>
            </li>
        </ul>
    </nav>

    <div class="card-columns p-5">
        <% for(var i=0;i<data.length;i++){ %>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%= data[i].ename %></h5>
                        <p class="card-text"><strong>Designation: </strong><%= data[i].edesign%><br><strong>Salary: </strong><%= data[i].esalary %></p>
                    </div>
                </div>
        <% } %>
    </div>
</body>
</html>